html {
  width: 100vw;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  justify-content: space-evenly;
}
img {
  width: 100%;
}
h2 {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: white;
  margin: 2%;
}
p {
  padding: 0;
  margin: 0;
}
/*The Modifications to modile*/
.container {
  width: 90%;
  background-color: whitesmoke;
  margin: 5%;
  height: 96vh;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  background-color: #1f2937;
  margin: 0;
}
nav li {
  padding: 0 5%;
  margin: 5% 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav {
  width: 100%;
  background-color: #1f2937;
}

.logo {
  margin-top: 0 5% 5% 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.logo img {
  width: 30%;
}
.header {
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}
.top {
  background-color: #1f2937;
}

.two-col .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left img {
  width: 100%;
}

/* music*/
.audio {
  height: 100%;
  width: 100%;
  border: none;
}

.right p {
  color: white;
  padding: 0 10% 5% 10%;
  font-style: italic;
}
.left a {
  margin: 5% 0;
}
button {
  background-color: #3882f6;
  color: aliceblue;
  border-radius: 8px;
  width: 15rem;
  height: 2rem;
  border: none;
}
.middle-top p {
  padding: 5%;
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  background-color: #1f2937;
  color: white;
  padding: 5%;
  justify-content: center;
}

.middle-bottom {
  display: flex;
  padding: 5%;
  flex-direction: column;
  background-color: #a2afc0;
  font-style: italic;
}
.middle-bottom .name {
  display: flex;
  justify-content: flex-end;
}
